<h1>{{title}}</h1>
<div class="left">
  <h2>My Heroes</h2>
  <div>
    <ul class="heroes">
      <li *ngFor="let hero of heroes"
          [class.selected]="hero === selectedHero"
          (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}: <b>{{hero.character}}</b>
      </li>
    </ul>
  </div>
</div>


<div *ngIf="selectedHero" class="right">
  <h2>{{selectedHero.name}} Weapons</h2>
  <div>
   <ul class="weapons">
      <li *ngFor="let w of selectedHero.weapons"
          [class.selected]="w === heroWeapon"
          (click)="onSelectWeapon(w)">
        <span class="badge">{{w.name}}</span> {{w.table}}: <b>{{w.fumble}}</b>
      </li>
    </ul>
  </div>
  <!--<div *ngIf="selectedHero">
    <p>Hero's weapon is currently: {{selectedHero.weapon}}</p>
    <label>Weapon:</label>
    <select [(ngModel)]="selectedWeapon" (blur)="passIndex($event.target.value)">
      &lt;!&ndash;<option value="noption" disabled selected>Select the weapon to use</option>&ndash;&gt;
      <option *ngFor="let wl of weapons" value="wl">
        {{wl.weapon}}
      </option>
    </select>
  </div>-->
  <div *ngIf="heroWeapon">
    <p class="note">
      Fumble on unmodifed roll of <i><b>{{heroWeapon.fumble}}</b></i> or less</p>
  </div>
  <div *ngIf="heroWeapon">
    <table>
      <tr>
        <td>
          <label class="colWide">Offense Split: </label>
        </td>
        <td>
          <label class="colWide">Base: </label>
        </td>
        <td>
          <label class="colWide">Offense: </label>
        </td>
        <td>
          <label class="colWide">Defense: </label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="number" (blur)="onKey($event)" [(ngModel)]="odSplit"/>
        </td>
        <td>
          <input type="number" (blur)="onKey($event)" [(ngModel)]="heroWeapon.base"/>
        </td>
        <td>
          <p>
            {{offense}}
          </p>
        </td>
        <td>
          <p>
            {{defense}}
          </p>        </td>
      </tr>
      <tr>
        <td>
          <label class="colWide"> </label>
        </td>
        <td>
          <label class="colWide">Penalties: </label>
        </td>
        <td>
          <label class="colWide">Bonuses: </label>
        </td>
        <td>
          <label class="colWide">Actual Roll: </label>
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td>
          <input type="number" (blur)="onKey($event)" [(ngModel)]="penalty"/>
        </td>
        <td>
          <input type="number" (blur)="onKey($event)" [(ngModel)]="advantage"/>
        </td>
        <td>
          <input type="number" (blur)="onKey($event)" [(ngModel)]="roll"/>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="heroWeapon">
    <label class="atLabel">Attack Table: </label>
    <select [(ngModel)]="attackType">
      <option *ngFor="let at of atList" value={{at.id}}>
        {{at.id}}
      </option>
    </select>
  </div>
  <div class="wideLabel" *ngIf="heroWeapon">
    <p class="Big veryWide">The attack result is: <b>{{attackIndex}}</b></p>
    <p class="wideLabel small veryWide"><i>{{heroWeapon.table}}[{{attackIndex}}][{{attackType}}]</i></p>
  </div>


  <div *ngIf="weapTable">
    <p class="note">The combat results are: </p>
    <div *ngIf="selectedWeapon">
      <table>
        <tr>
          <td>
            <p class="wideLabelIndent Big Red" *ngIf="roll <= heroWeapon.fumble"><b>FUMBLE!</b></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="wideLabelIndent Big">Hits: <b>{{weapTable[attackIndex][attackType].hits}}</b></p><br>
            <p class="wideLabelIndent Red" *ngIf="weapTable[attackIndex][attackType].hits == 0"> Miss!</p>
            <p class="wideLabelIndent Red" *ngIf="weapTable[attackIndex][attackType].hits > 0"> Hit!</p>
          </td>

        </tr>
        <tr>
          <td>
            <p class="wideLabelIndent Big">Critical Level:
              <b>{{weapTable[attackIndex][attackType].critical_level}}</b></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="wideLabelIndent Big">Critical Type:
              <b>{{weapTable[attackIndex][attackType].critical_type}}</b></p><br>
            <p class="wideLabelIndent Red" *ngIf="'' != weapTable[attackIndex][attackType].critical_type"><b>{{getCritType(weapTable[attackIndex][attackType].critical_type)}}</b></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
 
</div>



