
<h2>Details for {{selectedHero.name}}: {{selectedHero.character}}</h2>
<ngb-accordion #acc="ngbAccordion" activeIds=[summary]>
  <ngb-panel *ngIf="selectedHero" title="Character Summary" id="summary">
    <template ngbPanelContent>
        Profession: {{selectedHero.profession}}<br>
        Level: {{selectedHero.level}}<br>
        Race: {{selectedHero.race}}<br>
        Hit Points: {{selectedHero.hitpoints}}<br>
        Defense Base: {{selectedHero.defenseBase}}
    </template>
  </ngb-panel>
  <ngb-panel *ngIf="selectedHero" title="Character Statistics"  id="stats">
    <template ngbPanelContent>
        <table class="tableBorder tableStats">
          <thead>
          <th >Stat</th>
          <th >Value</th>
          <th >Bonus</th>
          </thead>
          <tbody>
          <tr class="trLine" *ngFor="let s of selectedHero.stats">
            <td>{{s.name}}</td>
            <td>{{s.value}}</td>
            <td>{{s.bonusTotal}}</td>
          </tr>
          </tbody>

        </table>

    </template>
  </ngb-panel>

  <ngb-panel *ngIf="selectedHero" title="Character Items" id="items">
    <template ngbPanelContent>
        <table class="tableBorder tableItems">
          <thead>
          <th >Item</th>
          <th >Quantity</th>
          <th >Weight</th>
          <th >Special?</th>
          <th >Dead Weight?</th>
          <th >Notes</th>
          </thead>
          <tbody>
          <tr class="trLine" *ngFor="let s of selectedHero.items">
            <td>{{s.name}}</td>
            <td>{{s.quantity}}</td>
            <td>{{s.weight}}</td>
            <td>{{s.special}}</td>
            <td>{{s.deadWeight}}</td>
            <td>{{s.notes}}</td>
          </tr>
          </tbody>
        </table>


    </template>
  </ngb-panel>

  <ngb-panel *ngIf="selectedHero" title="Character Skills" id="skills">
    <template ngbPanelContent>
        <table class="tableBorder tableSkills">
          <thead>
          <th >Skill</th>
          <th >Value</th>
          <th >Stats</th>
          <th >Rank</th>
          </thead>
          <tbody>
          <tr class="trLine" *ngFor="let s of selectedHero.skills">
            <td>{{s.name}}</td>
            <td>{{s.value}}</td>
            <td>{{s.stats}}</td>
            <td>{{s.rank}}</td>
          </tr>
          </tbody>
        </table>

    </template>
  </ngb-panel>
</ngb-accordion>
