
<h2>Details for {{selectedHero.name}}: {{selectedHero.character}}</h2>

  <div *ngIf="selectedHero" class="narrowLeft">
    <h2>Statistics:</h2>
    <table class="tableBorder">
      <thead>
        <th class="verySmall">Stat</th>
        <th class="verySmall">Value</th>
        <th class="verySmall">Bonus</th>
      </thead>
      <tbody>
        <tr *ngFor="let s of selectedHero.stats">
          <td>{{s.name}}</td>
          <td>{{s.value}}</td>
          <td>{{s.bonusTotal}}</td>
        </tr>
      </tbody>

    </table>

  </div>

<div *ngIf="selectedHero" class="left">
  <h2>Skills:</h2>
  <table class="tableBorder">
    <thead>
    <th class="wide">Skill</th>
    <th class="small">Value</th>
    <th class="small">Stats</th>
    <th class="small">
      Rank
    </th>
    </thead>
    <tbody>
    <tr *ngFor="let s of selectedHero.skills">
      <td>{{s.name}}</td>
      <td>{{s.value}}</td>
      <td>{{s.stats}}</td>
      <td>
        {{s.rank}}
      </td>
    </tr>
    </tbody>
  </table>

</div>


<div *ngIf="selectedHero" class="wideLeft">
  <h2>Items:</h2>
  <table class="tableBorder">
    <thead>
    <th class="wide">Item</th>
    <th class="small">Quantity</th>
    <th class="small">Weight</th>
    <th class="small">Special?</th>
    <th class="small">Dead Weight?</th>
    <th class="wide">Notes</th>
    </thead>
    <tbody>
    <tr *ngFor="let s of selectedHero.items">
      <td>{{s.name}}</td>
      <td>{{s.quantity}}</td>
      <td>{{s.weight}}</td>
      <td>
        {{s.special}}
      </td>
      <td>
        {{s.deadWeight}}
      </td>
      <td>
        {{s.notes}}
      </td>
    </tr>
    </tbody>
  </table>


</div>


